apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
spec:
  replicas: 1
  template:
    metadata:
    spec:
      containers:
        - name: mongo
          image: mongo:7.0-jammy
          ports:
            - containerPort: 27017

          readinessProbe:
            exec:
              command:
                - mongosh
                - --eval
                - "db.adminCommand('ping')"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 2

          volumeMounts:
            - name: mongodb-storage
              mountPath: /data/db
      volumes:
        - name: mongodb-storage
          hostPath:
            path: /tmp/k8s-mongo-data
            type: DirectoryOrCreate
